/*文章页面*/
#post-info .post-title {
  margin-bottom: 8px;
  font-weight: 700;
  color: var(--heo-white);
  font-size: 3.5em;
  margin: 1rem 0 1rem 0 !important;
  text-align: left;
  line-height: 1.5;
  padding: 0;
  -webkit-line-clamp: 3;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','Helvetica Neue',Lato,Roboto,'PingFang SC','Microsoft YaHei',sans-serif !important;
}

#post-meta_tags .post-meta__tags {
  display: inline-block;
  background: rgba(255,255,255,0.2);
  margin: 0px 8px 0px 0px;
  padding: 2px 20px;
  width: fit-content;
  border-radius: 7px;
  color: #eee;
  font-size: 1em;
}
#page-header #post-info {
  position: absolute;
  bottom: 100px;
  padding: 0 8%;
  width: 100%;
  text-align: left !important;
}
/*文章页面底部分享*/
.post-tools {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.post-tools-left {
  white-space: nowrap;
  display: flex;
  text-overflow: ellipsis;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.post-reward {
  margin-top: 0rem !important;
  display: flex;
  justify-content: center;
  width: auto;
}
.post-reward {
  position: relative;
  margin-top: 4rem;
  text-align: center;
}

.post-reward .reward-button {
  background: #f04a63 !important;
  color: #fff;
  padding: 0 !important;
  width: 133px;
  height: 40px;
  line-height: 39px;
  box-shadow: 0 8px 12px -3px #ee7d7936;
}

.post-reward:hover .reward-button {
  color: #fff;
  background: #425AEF;
  box-shadow: none;
}

.post-reward .reward-button {
  display: inline-block !important;
  padding: 0.2rem 1.2rem;
  background: #307af6;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s ease 0s;
  border-radius: 5px;
}

.button--animated {
  border-radius: 8px !important;
  transition: 0.3s;
}

.button--animated {
  position: relative;
  z-index: 1;
  transition: color 1s ease 0s;
}

.reward-link.mode {
  background: #57bd6a;
  color: #fff;
  padding: 0;
  width: 173px;
  height: 40px;
  line-height: 39px;
  box-shadow: 0 8px 12px -3px #87ee7936;
  border-radius: 8px;
  margin-left: 0.5rem;
  text-align: center;
  transition: 0.3s;
}

.reward-link.mode a {
  color: #fff;
}

.share-link {
  margin-left: 0.5rem;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
}

.share-qrcode {
  display: flex;
  justify-content: center;
}

.share-button {
  background: #edf0f7;
  color: #363636;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  width: 56px;
  height: 40px;
}

.share-button i {
  line-height: 40px;
}

.share-link.mobile:hover .share-button {
  background: var(--heo-green);
  border-color: var(--heo-green);
  box-shadow: var(--heo-shadow-green);
  color: var(--heo-white);
}

.share-main {
  position: absolute;
  bottom: 40px;
  z-index: 100;
  display: none;
  padding-bottom: 15px;
}

.share-main-all {
  padding: 12px;
  border-radius: 12px;
  background: var(--heo-background);
  animation: donate_effcet 0.3s 0.1s ease both;
  flex-direction: column;
  border: var(--style-border-always);
}

#qrcode {
  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;
  background: var(--heo-white);
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 8px;
  border: var(--style-border-always);
}

.share-link.weibo:hover .share-button {
  background: var(--heo-red);
  border-color: var(--heo-red);
  box-shadow: var(--heo-shadow-red);
}

.share-button:hover {
  background: var(--heo-theme);
  border-color: var(--heo-theme);
  color: var(--heo-white);
  transition: 0.3s;
  box-shadow: var(--heo-shadow-blue);
}

.share-button {
  background: var(--heo-card-btn-bg);
  color: var(--heo-fontcolor);
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  width: 56px;
  height: 40px;
}

.share-button:hover {
  background: var(--heo-theme);
  border-color: var(--heo-theme);
  color: var(--heo-white);
  transition: 0.3s;
  box-shadow: var(--heo-shadow-blue);
}

.share-link:hover .share-main {
  display: flex;
}












/* 翻页按钮居中 */
#pagination {
  width: 100%;
  margin: auto;
}
/*页脚css*/
#footer-wrap {
  color: var(--heo-fontcolor)
}

#footer-wrap a {
  color: var(--heo-fontcolor);
  height: 44px;
  line-height: 36px
}

#footer-wrap a:hover {
  color: var(--heo-hovertext);
  background-color: var(--heo-none)
}

div#footer_deal {
  justify-content: center;
  display: flex;
  padding-top: 2rem;
  align-items: center
}

@media screen and (max-width: 768px) {
  img.footer_mini_logo {
      display: none
  }

  div#footer_deal {
      flex-wrap: wrap;
      flex-direction: row
  }
}

a.deal_link {
  display: flex;
  margin: 1rem 27px;
  color: var(--heo-card-bg);
  border-radius: 3rem;
  width: 32px;
  height: 32px;
  background: var(--font-color);
  justify-content: center;
  align-items: center;
  transition: .3s
}

a.deal_link:hover {
  color: var(--heo-white);
  background: var(--heo-main)
}

img.footer_mini_logo {
  width: 50px;
  height: 50px;
  margin: 0 1rem;
  cursor: pointer;
  /*filter: drop-shadow(0 12px 12px #ee7d7936);*/
  transition: cubic-bezier(0, 0, 0, 1.29) .5s
}

img.footer_mini_logo:hover {
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d
}

@media screen and (min-width: 1300px) {
  img.footer_mini_logo:hover {
      transform: scale(1.03)
  }

  img.footer_mini_logo:active {
      transform: scale(.97)
  }
}

#weblogo {
  align-self: center
}

#footer-wrap a#heoblog_footerlogo:hover {
  background: var(--heo-none)
}

.heoblog_footerlogo_img {
  filter: drop-shadow(0 12px 12px #ee7d7936)
}

.heoblog_footerlogo_img:hover {
  transform: scale(1.03)
}
/* 自定义底部  start */
#ft {
  max-width: 1200px;
  margin: 0 auto 12px;
  display: flex;
  color: rgb(255 255 255 / 80%) !important;
  text-align: left;
  flex-wrap: wrap;
}

.ft-item-1,
.ft-item-2 {
  display: flex;
  height: 100%;
  padding: 10px 14px;
}

.ft-item-1 {
  flex-direction: column;
  flex: 2;
}

.ft-item-2 {
  flex: 1;
  flex-direction: column;
}

.t-top {
  display: flex;
}

.t-top .t-t-l {
  display: flex;
  flex-direction: column;
  flex: 1.4;
  margin-right: 10px;
}

.t-top .t-t-l .bg-ad {
  width: 85%;
  border-radius: 10px;
  padding: 0 10px;
}

.btn-xz-box {
  margin-top: 10px;
}

.btn-xz {
  display: block;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  text-align: center;
  line-height: 2.4;
  margin: 8px 0;
  cursor: pointer !important;
}

.btn-xz:hover {
  text-decoration: none !important;

}

.btn-xz-box:hover .btn-xz {
  background-color: #6f42c1;
}

.t-top .t-t-r {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ft-links {
  padding: 0 14px;
  list-style: none;
  margin-top: 0 !important;
}

.ft-links li a {
  display: inline-block !important;
  width: 50%;
  cursor: pointer !important;
}

.ft-links li a:hover {
  text-decoration: none !important;
  color: #6f42c1 !important;
}

.ft-item-2 .ft-img-group {
  width: 100%;
}

.ft-t {
  font-size: 0.8rem;
  margin-bottom: 20px;
  line-height: 1;
  font-weight: 600;
}

.t-l-t {
  padding-left: 14px;
}

.ft-item-2 .ft-img-group .img-group-item {
  display: inline-block;
  width: 18.4%;
  margin-right: 14px;
  margin-bottom: 6px;
}

.ft-item-2 .ft-img-group .img-group-item a {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer !important;
}

.ft-item-2 .ft-img-group .img-group-item a img {
  width: 100%;
  max-height: 80px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {

  .ft-item-1 {
      flex-basis: 100% !important;
  }

  .ft-item-2 {
      flex-basis: 100% !important;
  }

  .t-top .t-t-l .bg-ad {
      width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .t-top {
      flex-wrap: wrap;
  }

  .t-top .t-t-l {
      flex-basis: 100% !important;

  }

  .t-top .t-t-r {
      margin-top: 16px;
      flex-basis: 100% !important;
  }
}
/* 自定义底部  End */


@keyframes huxi_light {
  0% {
    box-shadow: 0px 0px 1px 1px #e9f5fa;
  }
  50% {
    box-shadow: 0px 0px 5px 5px #e9f5fa;
  }
  100% {
    box-shadow: 0px 0px 1px 1px #e9f5fa;
  }
}
@keyframes huxi_dark {
  0% {
    box-shadow: 0px 0px 1px 1px #39c5bb;
  }
  50% {
    box-shadow: 0px 0px 5px 5px #39c5bb;
  }
  100% {
    box-shadow: 0px 0px 1px 1px #39c5bb;
  }
}

  /*加载头像*/
.loading-img {
  background: url(https://cos.19910407.com/images/202208242139559.jpg) no-repeat center center;
  background-size: cover;
}
  /* 主题宽度 */
.layout#content-inner  {
  max-width: 1400px;
}
  /*轮播图宽度*/
div.swiper_container_card {
  width: 1370px !important;
}
 /*nav位置*/
 #page-header.not-top-img {
  margin-bottom: 0px !important;
 }

 /*首页轮播*/
#home_top {
  margin: auto;
  padding: 0 1.5rem;
  max-width: 1400px;
  width: 100%;
  margin-top: 0.5rem;
}

#swiper_container_blog {
  width: 49% !important;
}

/*边栏宽度*/
@media screen and (min-width: 1300px) {
#aside-content {
  padding-left: 1rem;
}
}
/*首页文章页面宽度*/
.layout>div:first-child {
  width: calc(100% - 300px);
}

@media screen and (min-width: 1300px){
#recent-posts {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
  align-items: flex-start !important;
  align-content: flex-start !important;
}
}

@media screen and (min-width: 1300px) {
#recent-posts > .recent-post-item:not(:first-child) {
    width: calc(50% - 0.5rem);
    margin-top: 0.25rem !important;
    margin-bottom: 0.75rem !important;
    box-shadow: var(--heo-shadow-border);
    clip-path: inset(0px round 12px);
}
}

#recent-posts > .recent-post-item:not(:first-child) {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
}

#page-header.post-bg {
  height: 34rem !important;
}

#page-header.post-bg:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5) !important;
  content: '';
  backdrop-filter: blur(10px) saturate(180%);
}

#page-header #post-info {
  bottom: 150px;
}

/*首页卡片宽度*/
#recent-posts>.recent-post-item {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#recent-posts>.recent-post-item {
  margin-top: 1rem;
  display: inline-block;
  height: auto;
  width: 49%;
}
#recent-posts>.recent-post-item {
  border-radius: 30px !important;
}
#recent-posts>.recent-post-item {
  box-shadow: none;
}
#recent-posts .recent-post-item {
  height: fit-content;
  background: var(--heo-card-bg);
  border-radius: 12px;
  cursor: url(/img/x2.cur),auto;
  border: var(--style-border);
}

/* tags样式 */
#aside-content .card-tag-cloud a {
  color: var(--heo-fontcolor) !important;
  font-size: 1.05rem !important;
  border-radius: 8px;
  display: inline-block;
  margin-right: 4px;
}
#aside-content .card-tag-cloud a:hover {
  background: var(--heo-theme);
  color: var(--heo-white) !important;
  box-shadow: var(--heo-shadow-theme);
}
@media screen and (min-width: 1300px) {
  #aside-content .card-tag-cloud a:hover {
    transform: scale(1.03);
  }
  #aside-content .card-tag-cloud a:active {
    transform: scale(0.97);
  }
}
#aside-content .card-tag-cloud a sup {
  opacity: 0.4;
  margin-left: 2px;
}

/* 归档样式 */
li.card-archive-list-item {
  width: 100%;
  flex: 0 0 48%;
}

span.card-archive-list-count {
  width: auto;
  text-align: left;
  font-size: 1.5rem;
  line-height: 0.9;
  font-weight: 700;
}
.card-archive-list-count-group {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a span:last-child,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a span:last-child {
  width: fit-content;
  margin-left: 4px;
}
span.card-archive-list-count {
  width: auto;
  text-align: left;
  font-size: 1.1rem;
  line-height: 0.9;
  font-weight: 700;
}
.card-archive-list-date {
  font-size: 14px;
  opacity: 0.6;
}
li.card-archive-list-item {
  width: 100%;
  flex: 0 0 48%;
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:hover,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a:hover {
  color: var(--heo-white);
  background-color: var(--heo-theme);
  box-shadow: var(--heo-shadow-theme);
  border-radius: 8px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media screen and (min-width: 1300px) {
  #aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:hover,
  #aside-content .card-categories ul.card-category-list > .card-category-list-item a:hover {
    transform: scale(1.03);
  }
  #aside-content .card-archives ul.card-archive-list > .card-archive-list-item a:active,
  #aside-content .card-categories ul.card-category-list > .card-category-list-item a:active {
    transform: scale(0.97);
  }
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a {
  border-radius: 8px;
  margin: 4px 0;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  border: var(--style-border);
}
#aside-content .card-archives ul.card-archive-list > .card-archive-list-item a span:first-child,
#aside-content .card-categories ul.card-category-list > .card-category-list-item a span:first-child {
  width: auto;
  flex: inherit;
}
#aside-content .card-archives ul.card-archive-list,
#aside-content .card-categories ul.card-category-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*最近文章美化*/
#aside-content .aside-list > .aside-list-item .content > time {
  display: none;
}
#aside-content .aside-list > .aside-list-item .content > .title {
  -webkit-line-clamp: 3;
  font-weight: 700;
  padding: 2px 0;
}
#aside-content .aside-list > .aside-list-item {
  padding: 8px;
  padding-top: 6px !important;
  padding-bottom: 6px !important;
  border-radius: 12px;
  transition: 0.3s;
  margin: 4px 0;
  cursor: pointer;
}
@media screen and (min-width: 1300px) {
  #aside-content .aside-list > .aside-list-item:hover {
    transform: scale(1.03);
  }
  #aside-content .aside-list > .aside-list-item:active {
    transform: scale(0.97);
  }
}
#aside-content .aside-list > .aside-list-item:hover .thumbnail > img {
  transform: scale(1);
}
#aside-content .aside-list > .aside-list-item:not(:last-child) {
  border-bottom: 0 dashed var(--heo-background) !important;
}
#aside-content .aside-list > .aside-list-item .thumbnail {
  border-radius: 8px;
  border: var(--style-border);
}
#aside-content .aside-list > .aside-list-item:hover {
  background: var(--heo-blue-main);
  color: var(--heo-white);
  transition: 0.3s;
  box-shadow: var(--heo-shadow-main);
}
#aside-content .aside-list > .aside-list-item:hover a {
  color: var(--heo-white) !important;
}
.card-widget.card-recent-post {
  padding: 0.4rem 0.6rem !important;
}



/* 颜色 */
:root {
    --heo-theme-op: #4259ef23;
    --heo-gray-op: #9999992b;
    --heo-theme-top: var(--heo-theme);
    --heo-white: #fff;
    --heo-white-op: rgba(255, 255, 255, 0.2);
    --heo-black: #000;
    --heo-black-op: rgba(0, 0, 0, 0.2);
    --heo-none: rgba(0, 0, 0, 0);
    --heo-gray: #999999;
    --heo-yellow: #ffc93e;
    --heo-border-radius: 8px;
    --heo-main: var(--heo-theme);
    --heo-main-op: var(--heo-theme-op);
    --heo-shadow-theme: 0 8px 12px -3px var(--heo-theme-op);
    --heo-shadow-main: 0 8px 12px -3px var(--heo-main-op);
    --heo-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234, 0.2);
    --heo-shadow-white: 0 8px 12px -3px rgba(255, 255, 255, 0.2);
    --heo-shadow-black: 0 0 12px 4px rgba(0, 0, 0, 0.05);
    --heo-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62, 0.12);
    --heo-shadow-red: 0 8px 12px -3px #ee7d7936;
    --heo-shadow-green: 0 8px 12px -3px #87ee7936;
    --heo-shadow-border: 0 8px 16px -4px #2c2d300c;
    --heo-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0, 0.15);
    --heo-logo-color: linear-gradient(215deg, #4584ff 30%, #ff7676 70%);
    --style-border: 1px solid var(--heo-card-border);
    --heo-blue-main: #3b70fc;
    --style-border-hover: 1px solid var(--heo-main);
    --style-border-dashed: 1px dashed var(--heo-theme-op);
    --style-border-avatar: 4px solid var(--heo-background);
    --style-border-always: 1px solid var(--heo-card-border);
    --heo-white-acrylic1: #fefeff !important;
    --heo-white-acrylic2: #fcfdff !important;
    --heo-black-acrylic2: #08080a !important;
    --heo-black-acrylic1: #0b0b0e !important;
    --heo-main-none: #b8b8b800 !important;
  }
  
  [data-theme="light"] {
    --heo-theme: #3b70fc;
    --heo-theme-op: #4259ef23;
    --heo-blue: #3b70fc;
    --heo-red: #d8213c;
    --heo-pink: #ff7c7c;
    --heo-green: #57bd6a;
    --heo-fontcolor: #363636;
    --heo-background: #f7f9fe;
    --heo-reverse: #000;
    --heo-maskbg: rgba(255, 255, 255, 0.6);
    --heo-maskbgdeep: rgba(255, 255, 255, 0.85);
    --heo-hovertext: var(--heo-theme);
    --heo-ahoverbg: #f7f7fa;
    --heo-lighttext: var(--heo-main);
    --heo-secondtext: rgba(60, 60, 67, 0.6);
    --heo-scrollbar: rgba(60, 60, 67, 0.4);
    --heo-card-btn-bg: #edf0f7;
    --heo-post-blockquote-bg: #fafcff;
    --heo-post-tabs-bg: #f2f5f8;
    --heo-secondbg: #edf0f7;
    --heo-shadow-nav: 0 5px 12px -5px rgba(102, 68, 68, 0.05);
    --heo-card-bg: #fff;
    --heo-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --heo-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --heo-card-border: #c0c6d8;
  }
  
  [data-theme="dark"] {
    --global-bg: #191919;
    --heo-theme: #0084ff;
    --heo-theme-op: #0084ff23;
    --heo-blue: #0084ff;
    --heo-red: #ff3842;
    --heo-pink: #ff7c7c;
    --heo-green: #57bd6a;
    --heo-fontcolor: #f7f7fa;
    --heo-background: #18171d;
    --heo-reverse: #fff;
    --heo-maskbg: rgba(0, 0, 0, 0.6);
    --heo-maskbgdeep: rgba(0, 0, 0, 0.85);
    --heo-hovertext: #0a84ff;
    --heo-ahoverbg: #fff;
    --heo-lighttext: #f2b94b;
    --heo-secondtext: #a1a2b8;
    --heo-scrollbar: rgba(200, 200, 223, 0.4);
    --heo-card-btn-bg: #30343f;
    --heo-post-blockquote-bg: #000;
    --heo-post-tabs-bg: #121212;
    --heo-secondbg: #30343f;
    --heo-shadow-nav: 0 5px 20px 0px rgba(28, 28, 28, 0.4);
    --heo-card-bg: #1d1b26;
    --heo-shadow-lightblack: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --heo-shadow-light2black: 0 5px 12px -5px rgba(102, 68, 68, 0);
    --heo-card-border: #42444a;
  }

  /*颜色2*/
  :root{
    --heo-white: #fff;
    --heo-black: #000;
    --heo-none: rgba(0,0,0,0);
    --heo-gray: #999999;
    --heo-yellow: #ffc93e;
    --heo-main: var(--heo-theme);
    --heo-main-op: var(--heo-theme-op);
    --heo-shadow-theme: 0 8px 12px -3px var(--heo-theme-op);
    --heo-shadow-main: 0 8px 12px -3px var(--heo-main-op);
    --heo-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234,.20);
    --heo-shadow-white: 0 8px 12px -3px rgba(255, 255, 255,.20);
    --heo-shadow-black: 0 0 12px 4px rgba(0, 0, 0,.05);
    --heo-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62,.12);
    --heo-shadow-red: 0 8px 12px -3px #ee7d7936;
    --heo-shadow-green: 0 8px 12px -3px #87ee7936;
    --heo-logo-color: linear-gradient(215deg,#4584ff 30%,#ff7676 70%);
    --style-border: 1px solid var(--heo-card-border);
    --style-border-hover: 1px solid var(--heo-theme);
  }
  
  ::selection {
    background: var(--heo-fontcolor);
    color: var(--heo-background);
  }
  
  [data-theme=light] {
    --heo-theme: #425AEF;
    --heo-theme-op: #4259ef23;
    --heo-blue: #425AEF;
    --heo-red: #D8213C;
    --heo-pink: #FF7C7C;
    --heo-green: #57bd6a;
    --heo-fontcolor: #363636;
    --heo-background: #f7f9fe;
    --heo-reverse: #000;
    --heo-maskbg: rgba(255, 255, 255, 0.6);
    --heo-maskbgdeep: rgba(255, 255, 255, 0.85);
    --heo-hovertext: var(--heo-theme);
    --heo-ahoverbg: #F7F7FA;
    --heo-lighttext: var(--heo-main);
    --heo-secondtext: rgba(60, 60, 67, 0.6);
    --heo-scrollbar: rgba(60, 60, 67, 0.4);
    --heo-card-btn-bg: #edf0f7;
    --heo-post-blockquote-bg: #fafcff;
    --heo-post-tabs-bg: #f2f5f8;
    --heo-secondbg: #edf0f7;
    --heo-shadow-nav:0 5px 12px -5px rgba(102, 68, 68, 0.05);
    --heo-card-bg: #fff;
    --heo-shadow-lightblack:0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --heo-shadow-light2black:0 5px 12px -5px rgba(102, 68, 68, 0.00);
    --heo-card-border: #e3e8f7;
  }
  
  [data-theme=dark] {
    --heo-theme: #0084FF;
    --heo-theme-op: #0084FF23;
    --heo-blue: #0084FF;
    --heo-red: #FF3842;
    --heo-pink: #FF7C7C;
    --heo-green: #57bd6a;
    --heo-fontcolor: #F7F7FA;
    --heo-background: #18171d;
    --heo-reverse: #fff;
    --heo-maskbg: rgba(0,0,0, 0.6);
    --heo-maskbgdeep: rgba(0,0,0, 0.85);
    --heo-hovertext: #0A84FF;
    --heo-ahoverbg: #fff;
    --heo-lighttext: #f2b94b;
    --heo-secondtext: #a1a2b8;
    --heo-scrollbar: rgba(200, 200, 223, 0.4);
    --heo-card-btn-bg: #30343f;
    --heo-post-blockquote-bg: #000;
    --heo-post-tabs-bg: #121212;
    --heo-secondbg: #30343f;
    --heo-shadow-nav:0 5px 20px 0px rgba(28, 28, 28, 0.4);
    --heo-card-bg: #1d1b26;
    --heo-shadow-lightblack:0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --heo-shadow-light2black:0 5px 12px -5px rgba(102, 68, 68, 0.0);
    --heo-card-border: #42444a;
  }
  
  @media screen and (max-width: 768px){
    :root{
      --style-border: 0px solid var(--heo-card-border);
      --style-border-hover: 0px solid var(--heo-theme);
    }
  }

  /* 颜色2 */
:root{
  --heo-white: #fff;
  --heo-white-op: rgba(255,255,255,0.2);
  --heo-black: #000;
  --heo-black-op: rgba(0,0,0,0.2);
  --heo-none: #00000000;
  --heo-gray: #999999;
  --heo-gray-op: #9999992b;
  --heo-vip: #e5a80d;
  --heo-main: var(--heo-theme);
  --heo-main-op: var(--heo-theme-op);
  --heo-main-op-deep: var(--heo-theme-op-deep);
  --heo-main-none: var(--heo-theme-none);
  --heo-shadow-theme: 0 8px 12px -3px var(--heo-theme-op);
  --heo-shadow-blackdeep: 0 2px 16px -3px rgba(0, 0, 0,.15);
  --heo-shadow-main: 0 8px 12px -3px var(--heo-main-op);
  --heo-shadow-blue: 0 8px 12px -3px rgba(40, 109, 234,.20);
  --heo-shadow-white: 0 8px 12px -3px rgba(255, 255, 255,.20);
  --heo-shadow-black: 0 0 12px 4px rgba(0, 0, 0,.05);
  --heo-shadow-yellow: 0px 38px 77px -26px rgba(255, 201, 62,.12);
  --heo-shadow-red: 0 8px 12px -3px #ee7d7936;
  --heo-shadow-green: 0 8px 12px -3px #87ee7936;
  --heo-logo-color: linear-gradient(215deg,#4584ff 0%,#cf0db9 100%);
  --heo-snackbar-time: 5s;
  --style-border: 1px solid var(--heo-card-border);
  --style-border-always: 1px solid var(--heo-card-border);
  --style-border-hover: 1px solid var(--heo-main);
  --style-border-hover-always: 1px solid var(--heo-main);
  --style-border-dashed: 1px dashed var(--heo-theme-op);

  --heo-theme: #425AEF;
  --heo-theme-op: #4259ef23;
  --heo-theme-op-deep: #4259efdd;
  --heo-theme-none: #4259ef01;
  --heo-blue: #425AEF;
  --heo-red: #D8213C;
  --heo-pink: #FF7C7C;
  --heo-green: #28a63f;
  --heo-yellow: #c28b00;
  --heo-yellow-op: #d99c001a;
  --heo-orange: #e38100;
  --heo-fontcolor: #363636;
  --heo-background: #f7f9fe;
  --heo-reverse: #000;
  --heo-maskbg: rgba(255, 255, 255, 0.6);
  --heo-maskbgdeep: rgba(255, 255, 255, 0.85);
  --heo-hovertext: var(--heo-main);
  --heo-ahoverbg: #F7F7FA;
  --heo-lighttext: var(--heo-main);
  --heo-secondtext: rgba(60, 60, 67, 0.6);
  --heo-scrollbar: rgba(60, 60, 67, 0.4);
  --heo-card-btn-bg: #edf0f7;
  --heo-post-blockquote-bg: #fafcff;
  --heo-post-tabs-bg: #f2f5f8;
  --heo-secondbg: #f1f3f8;
  --heo-shadow-nav:0 5px 12px -5px rgba(102, 68, 68, 0.05);
  --heo-card-bg: #fff;
  --heo-card-bg-op: var(--heo-black-op);
  --heo-card-bg-none: rgba(255, 255, 255, 0);
  --heo-shadow-lightblack:0 5px 12px -5px rgba(102, 68, 68, 0.00);
  --heo-shadow-light2black:0 5px 12px -5px rgba(102, 68, 68, 0.00);
  --heo-card-border: #e3e8f7;
  --heo-shadow-border: 0 8px 16px -4px #2c2d300c;
  --style-border-forever: 2px solid var(--heo-main);
}

::selection {
  background: var(--heo-fontcolor);
  color: var(--heo-background);
}

[data-theme=light] {
  --heo-theme: #425AEF;
  --heo-theme-op: #4259ef23;
  --heo-theme-op-deep: #4259efdd;
  --heo-theme-none: #4259ef01;
  --heo-blue: #425AEF;
  --heo-red: #D8213C;
  --heo-pink: #FF7C7C;
  --heo-green: #28a63f;
  --heo-yellow: #c28b00;
  --heo-yellow-op: #d99c001a;
  --heo-orange: #e38100;
  --heo-fontcolor: #363636;
  --heo-background: #f7f9fe;
  --heo-reverse: #000;
  --heo-maskbg: rgba(255, 255, 255, 0.6);
  --heo-maskbgdeep: rgba(255, 255, 255, 0.85);
  --heo-hovertext: var(--heo-main);
  --heo-ahoverbg: #F7F7FA;
  --heo-lighttext: var(--heo-main);
  --heo-secondtext: rgba(60, 60, 67, 0.6);
  --heo-scrollbar: rgba(60, 60, 67, 0.4);
  --heo-card-btn-bg: #edf0f7;
  --heo-post-blockquote-bg: #fafcff;
  --heo-post-tabs-bg: #f2f5f8;
  --heo-secondbg: #f1f3f8;
  --heo-shadow-nav:0 5px 12px -5px rgba(102, 68, 68, 0.05);
  --heo-card-bg: #fff;
  --heo-card-bg-op: var(--heo-black-op);
  --heo-card-bg-none: rgba(255, 255, 255, 0);
  --heo-shadow-lightblack:0 5px 12px -5px rgba(102, 68, 68, 0.00);
  --heo-shadow-light2black:0 5px 12px -5px rgba(102, 68, 68, 0.00);
  --heo-card-border: #e3e8f7;
  --heo-shadow-border: 0 8px 16px -4px #2c2d300c;
  --style-border-forever: 2px solid var(--heo-main);
}

[data-theme=dark] {
  --heo-theme: #0084FF;
  --heo-theme-op: #0084FF23;
  --heo-theme-op-deep: #0084ffdd;
  --heo-theme-none: #0084FF00;
  --heo-blue: #0084FF;
  --heo-red: #FF3842;
  --heo-pink: #FF7C7C;
  --heo-green: #57bd6a;
  --heo-yellow: #ffc93e;
  --heo-yellow-op: #ffc93e30;
  --heo-orange: #ff953e;
  --heo-fontcolor: #F7F7FA;
  --heo-background: #18171d;
  --heo-reverse: #fff;
  --heo-maskbg: rgba(0,0,0, 0.6);
  --heo-maskbgdeep: rgba(0,0,0, 0.85);
  --heo-hovertext: #0A84FF;
  --heo-ahoverbg: #fff;
  --heo-lighttext: #f2b94b;
  --heo-secondtext: #a1a2b8;
  --heo-scrollbar: rgba(200, 200, 223, 0.4);
  --heo-card-btn-bg: #30343f;
  --heo-post-blockquote-bg: #000;
  --heo-post-tabs-bg: #121212;
  --heo-secondbg: #30343f;
  --heo-shadow-nav:0 5px 20px 0px rgba(28, 28, 28, 0.4);
  --heo-card-bg: #1d1e22;
  --heo-card-bg-op: var(--heo-white-op);
  --heo-card-bg-none: #1d1b2600;
  --heo-shadow-lightblack:0 5px 12px -5px rgba(102, 68, 68, 0.0);
  --heo-shadow-light2black:0 5px 12px -5px rgba(102, 68, 68, 0.0);
  --heo-card-border: #282829;
  --heo-shadow-border: 0 8px 16px -4px #00000050;
  --style-border-forever: 2px solid var(--heo-lighttext);
}

@media screen and (max-width: 768px){
  :root{
    --style-border: 0px solid var(--heo-card-border);
    --style-border-hover: 0px solid var(--heo-main);
  }
}