/* @font-face {
  font-family: Candyhome;
  src: url(https://npm.elemecdn.com/anzhiyu-blog@1.1.6/fonts/Candyhome.ttf);
  font-display: swap;
  font-weight: lighter;
} */


@font-face {
    font-family: ZhuZiAYuanJWD;
    src: url(https://code.oppo.com/content/dam/oppo/common/fonts/font2/new-font/OPPOSansOS2-5000-Regular.woff2);
    font-display: swap;
    font-weight: lighter;
  }
  div#catalog-list {
    font-size: 0.9rem !important;
  }
  div#menus {
    font-family: "ZhuZiAYuanJWD";
  }
  div#aside-content.aside-content {
    font-family: "ZhuZiAYuanJWD";
  }
  div#category-Bar {
    font-family: "ZhuZiAYuanJWD";
  }
  div#bbTimeList.bbTimeList.container {
    font-family: "ZhuZiAYuanJWD";
  }
  div#essay_page {
    font-family: "ZhuZiAYuanJWD";
  }
  h1#site-title {
    font-family: ZhuZiAYuanJWD;
    font-size: 3em !important;
  }
  div#he-plugin-simple {
    font-family: "ZhuZiAYuanJWD" !important;
  }
  a.article-title {
    font-weight: 700;
  }
  div.search-dialog {
    font-family: ZhuZiAYuanJWD;
  }
  a.article-title,
  a.blog-slider__title,
  a.categoryBar-list-link,
  a#site-name,
  h1.post-title {
    font-family: ZhuZiAYuanJWD;
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 3em;
    /* 可以定义图标大小 */
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* 时间轴生肖icon */
  svg.icon {
    /* 这里定义svg.icon，避免和Butterfly自带的note标签冲突 */
    width: 1em;
    height: 1em;
    /* width和height定义图标的默认宽度和高度*/
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
  
  .icon-zhongbiao::before {
    color: #f7c768;
  }
  
  /* bilibli番剧插件 */
  #article-container .bangumi-tab.bangumi-active {
    background: var(--anzhiyu-theme);
    color: var(--anzhiyu-ahoverbg);
    border-radius: 10px;
  }
  a.bangumi-tab:hover {
    text-decoration: none !important;
  }
  .bangumi-button:hover {
    background: var(--anzhiyu-theme) !important;
    border-radius: 10px !important;
    color: var(--anzhiyu-ahoverbg) !important;
  }
  a.bangumi-button.bangumi-nextpage:hover {
    text-decoration: none !important;
  }
  .bangumi-button {
    padding: 5px 10px !important;
  }
  
  a.bangumi-tab {
    padding: 5px 10px !important;
  }
  svg.icon.faa-tada {
    font-size: 1.1em;
  }
  .bangumi-info-item {
    border-right: 1px solid #f2b94b;
  }
  .bangumi-info-item span {
    color: #f2b94b;
  }
  .bangumi-info-item em {
    color: #f2b94b;
  }
  
  /* 解决artitalk的图标问题 */
  #uploadSource > svg {
    width: 1.19em;
    height: 1.5em;
  }
  
  /*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
  /*#page-header:not(.not-top-img):before {
    background-color: transparent !important;
  }*/
  
  /* 首页文章卡片 */
  #recent-posts > .recent-post-item {
    background: rgba(255, 255, 255, 0.9);
  }

  #recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap>.article-meta:before {
    content: "\A";
    white-space: pre;
  }

  #post > div.relatedPosts > div.relatedPosts-list > div {
    border-radius: 12px;
  }

  #pagination .page-number.current {
    background: var(--anzhiyu-theme) !important;
    color: var(--anzhiyu-white);
    border-radius: 8px;
  }

  #pagination.pagination-post {
    border-radius: 12px;
  }

  /*首页文章页布局*/
  @media screen and (min-width: 1300px) {
  .layout {
    display: flex !important;
    justify-content: space-between;
    padding: 1rem 1.5rem !important;
  }
  }
  .layout {
    padding: 1rem 1.5rem;
  }
  .layout {
    display: flex;
    margin: 0px auto;
    padding: 2rem 15px;
    max-width: 1200px
  }
 
  
  /* 首页侧栏卡片 */
  @media screen and (max-width: 1300px) {
  #aside-content>.card-widget:first-child {
    min-height: 329px;
  }

  #aside-content>.card-widget.card-info {
    background: var(--heo-card-bg);
    box-shadow: var(--heo-shadow-black);
    position: relative;
  }
  #aside-content>.card-widget:first-child {
    transition: 0.3s;
    border: none;
    box-shadow: none;
    background: var(--heo-main);
    margin-top: 0px;
  }
  #aside-content .card-widget {
    box-shadow: var(--heo-shadow-border);
    background: var(--heo-card-bg);
    border: var(--style-border);
    transition: 0.3s;
    border-radius: 12px;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    margin-top: 1rem;
    padding: 1rem 1.2rem;
  }
  .card-widget.card-info {
    padding: 0 !important;
  }
  }

  #aside-content>.card-widget.card-info::before {
    background: linear-gradient(-25deg,var(--anzhiyu-main),#031764,var(--anzhiyu-main),#67044d);
    background-size: 400%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: '';
    animation: gradient 15s ease infinite;
  }

  #aside-content>div.card-widget.card-info>div.card-content {
    padding: 1rem 1.2rem;
    min-height: 330px;
    position: relative;
  }

  div#author-info__sayhi {
    text-align: left;
    color: var(--heo-white);
    background: var(--heo-white-op);
    font-size: 12px;
    margin-right: auto;
    padding: 2px 8px;
    border-radius: 12px;
    width: fit-content;
    margin-top: 8px
  }

  #aside-content .card-info .author-info__name {
    text-align: left;
    font-weight: 700;
    color: #fff;
    font-size: 28px;
    line-height: 1.1;
    margin: 0.8rem 5px 1rem 5px;
  }

  #aside-content>div.card-widget.card-info>div>div.card-info-avatar.is-center>div.author-info__description {
    line-height: 1.38;
    margin: 0.3rem 0;
    text-align: justify;
    color: #fff;
    font-size: 16px;
    margin: 5px;
  }

  .author-info__description2 {
    line-height: 1.38;
    margin: 0 5px;
    text-align: justify;
    z-index: 2;
    color: rgba(255,255,255,.8);
  }

  .author-info__description2 b {
    color: #fff;
    font-size: 16px;
  }

  .card-widget.card-info .banner-button-group {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    display: flex;
  }

  #aside-content .card-info .banner-button {
    height: 40px;
    width: 124px;
    border-radius: 20px;
    justify-content: center;
  }

.card-widget.card-info .banner-button-group .banner-button {
    padding: 8px 12px;
    background: var(--heo-white-op);
    border-radius: 12px;
    color: var(--heo-white);
    display: flex;
    align-items: center;
    z-index: 1;
    transition: 0.3s;
    cursor: pointer;
  }

  .card-widget.card-info .banner-button-group .banner-button i {
    margin-right: 8px;
    font-size: 1rem;
  }

  #aside-content .card-info .card-info-social-icons {
    margin: 0px;
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    cursor: pointer;
    position: absolute;
    bottom: 1rem;
    left: 20px;
  }

  #aside-content .card-info .card-info-social-icons .social-icon {
    margin: 0px 8px 0px 0px !important;
  }
  #aside-content .card-info .card-info-social-icons .social-icon {
    margin: 0px 0.5rem;
    color: var(--heo-fontcolor);
    font-size: 1.4em;
    cursor: pointer;
  }

  .card-widget.card-info .banner-button-group .banner-button:hover {
    background: #fff;
    color: #000;
  }

  #aside-content .card-info .card-info-social-icons i:hover {
    background: var(--heo-secondbg);
    transform: scale(0.97);
    color: var(--heo-main);
    box-shadow: none;
  }

  #aside-content .card-info .card-info-social-icons i {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
  }

  #aside-content .card-info .card-info-social-icons i {
    transition: all 0.3s ease 0s;
    padding: 8px;
    border-radius: 32px;
  }

  .card-widget.card-info {
    padding: 0px !important;
  }

  #aside-content > .card-widget.card-info::before {
    background-size: 400%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    content: "";
    animation: 15s ease 0s infinite normal none running gradient;
  }

  /* 文章页面正文背景 */
  div#post {
    background: rgba(255, 255, 255, 0.9);
  }

  /* 文章翻页按钮 */

  #pagination a.extend.next, #pagination a.extend.prev {
    width: 5rem!important;
    line-height: 1.9rem!important;
    border-radius: 8px !important;
    background: var(--anzhiyu-card-bg);
    box-shadow: var(--anzhiyu-shadow-border);
    border: var(--style-border);
    display: flex!important;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: .3s;
    position: absolute;
  }

  #pagination a.extend.next:hover, #pagination a.extend.prev:hover {
    color: var(--anzhiyu-theme);
    border: var(--style-border-hover);
    transform: scale(1.03);
  }

  a.extend.prev {
    left: 0;
  }

  #pagination .pagination {
    position: relative;
    display: flex;
    justify-content: center;
  }

  a.extend.next {
    right: 0;
  }

  .layout > .recent-posts .pagination > *:not(.space):hover {
    background: var(--anzhiyu-theme);
    color: var(--btn-color);
}
  
  /* 分页页面 */
  div#page {
    background: rgba(255, 255, 255, 0.9);
  }
  
  /* 归档页面 */
  div#archive {
    background: rgba(255, 255, 255, 0.9);
  }
  
  /* 标签页面 */
  div#tag {
    background: rgba(255, 255, 255, 0.9);
  }

  .tag-cloud-list a {
    border: 1px solid;
    line-height: 1.5;
    border-radius: 6px;
    padding: 5px 15px;
    font-size: 1.2rem !important;
    margin: 5px;
  }

  .layout>div:first-child:not(.recent-posts), .search-dialog {
    border-radius: 12px;
    box-shadow: none;
    border: var(--style-border) !important;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
  }

  .layout>div:first-child:not(.recent-posts) {
    -webkit-align-self: flex-start;
    align-self: flex-start;
    -ms-flex-item-align: start;
    padding: 50px 40px !important;
  }

  .page-title {
    cursor: default;
    text-align: center;
  }
  
  /* 分类页面 */
  div#category {
    background: rgba(255, 255, 255, 0.9);
  }
  #article-container a:not([data-fancybox=gallery]):not(.headerlink):not(.cf-friends-link):hover {
    color: var(--anzhiyu-white);
    background: var(--anzhiyu-theme);
    box-shadow: var(--anzhiyu-shadow-lightblack);
    border-radius: 0.25em;
    text-decoration: none;
  }

  /*
  #article-container a:not([data-fancybox=gallery]):not(.headerlink):not(.cf-friends-link):not(.tag-Link) {
    font-weight: 500;
    border-bottom: solid 2px var(--anzhiyu-lighttext);
    color: var(--anzhiyu-fontcolor);
    padding: 0 0.2em;
    text-decoration: none;
  }*/
  
  /*夜间模式伪类遮罩层透明*/
  [data-theme="dark"] #recent-posts > .recent-post-item {
    background: #121212;
  }
  
  [data-theme="dark"] .card-widget {
    background: #121212 !important;
  }
  
  [data-theme="dark"] div#post {
    background: #121212 !important;
  }
  
  [data-theme="dark"] div#tag {
    background: #121212 !important;
  }
  
  [data-theme="dark"] div#archive {
    background: #121212 !important;
  }
  
  [data-theme="dark"] div#page {
    background: #121212 !important;
  }
  
  [data-theme="dark"] div#category {
    background: #121212 !important;
  }
  
  [data-theme="dark"] div#category {
    background: transparent !important;
  }
  /* 页脚透明 */
  #footer {
    background: transparent !important;
  }
  
  /* 头图透明 */

  
  #rightside > div > button {
    border-radius: 5px;
  }
  
  /* 滚动条 */
  
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #3b70fc;
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  
  ::-moz-selection {
    color: #fff;
    background-color: #3b70fc;
  }
  
  /* 音乐播放器 */
  
  /* .aplayer .aplayer-lrc {
    display: none !important;
  } */
  
  .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    left: -66px !important;
    transition: all 0.3s;
    /* 默认情况下缩进左侧66px，只留一点箭头部分 */
  }
  
  .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
    left: 0 !important;
    transition: all 0.3s;
    /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
  }
  
  .aplayer.aplayer-fixed {
    z-index: 999999 !important;
  }
  
  /* 评论框  */
  .vwrap {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0px 30px 0px;
  }
  
  /* 设置评论框 */
  
  .vcard {
    box-shadow: 2px 2px 5px #bbb;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 30px;
    margin: 30px 0px 0px 0px;
  }
  
  /* 鼠标图标 */
  body {
    cursor: url("/img/x1.cur"), auto;
  }
  a,
  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled),
  [type="submit"]:not(:disabled),
  button:not(:disabled) {
    cursor: url("/img/x2.cur"), auto !important;
  }
  /* md网站下划线 */
  #article-container a:hover {
    text-decoration: none !important;
  }
  
  #article-container #hpp_talk p img {
    display: inline;
  }
  
  /* 404页面 */
  #error-wrap {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1000px;
    transform: translate(0, -50%);
  }
  
  #error-wrap .error-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    height: 18rem;
    border-radius: 8px;
    background: var(--card-bg);
    box-shadow: var(--card-box-shadow);
    transition: all 0.3s;
  }
  
  #error-wrap .error-content .error-img {
    box-flex: 1;
    flex: 1;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: #3b70fc;
    background-position: center;
    background-size: cover;
  }
  
  #error-wrap .error-content .error-info {
    box-flex: 1;
    flex: 1;
    padding: 0.5rem;
    text-align: center;
    font-size: 14px;
    font-family: Titillium Web, "PingFang SC", "Hiragino Sans GB", "Microsoft JhengHei", "Microsoft YaHei", sans-serif;
  }
  #error-wrap .error-content .error-info .error_title {
    margin-top: -4rem;
    font-size: 9em;
  }
  #error-wrap .error-content .error-info .error_subtitle {
    margin-top: -3.5rem;
    word-break: break-word;
    font-size: 1.6em;
  }
  #error-wrap .error-content .error-info a {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.3rem 1.5rem;
    background: var(--btn-bg);
    color: var(--btn-color);
  }
  
  #body-wrap.error .aside-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    bottom: 0px;
    position: absolute;
    padding: 1rem;
    width: 100%;
    overflow: scroll;
  }
  
  #body-wrap.error .aside-list .aside-list-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  #body-wrap.error .aside-list .aside-list-item {
    padding: 0.5rem;
  }
  
  #body-wrap.error .aside-list .aside-list-item img {
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
  
  #body-wrap.error .aside-list .aside-list-item .thumbnail {
    overflow: hidden;
    width: 230px;
    height: 143px;
    background: var(--anzhiyu-card-bg);
    display: flex;
  }
  
  #body-wrap.error .aside-list .aside-list-item .content .title {
    -webkit-line-clamp: 2;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-height: 1.5;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    padding-top: 0.5rem;
    color: white;
  }
  
  #body-wrap.error .aside-list .aside-list-item .content time {
    display: none;
  }
  
  /* 代码框主题 */
  #article-container figure.highlight {
    border-radius: 10px;
  }

  /*归档页面css*/

  .article-sort {
    display: flex;
    flex-wrap: wrap;
    border: none;
    padding: 0;
    margin: 0 auto;
  }

  .article-sort-item.year {
    width: calc(100% - 0.5rem);
    margin: 0.5rem 0.25rem;
  }
  .article-sort-item.year {
    width: 100%;
    margin: 0.5rem 0;
    color: var(--anzhiyu-white);
    background: var(--anzhiyu-theme)!important;
    border-radius: 10px;
  }

  .article-sort-item.year {
    font-size: 1.43em;
  }

  .article-sort-item:not(.year):not(#fc-state):not(#fc-more) {
    width: calc(50% - 0.5rem);
    margin: 0.3rem 0.25rem;
  }

  .article-sort-item {
    width: 100%;
    padding: 8px;
    margin: 0.3rem 0;
    background: #f7f9fe;
    border-radius: 8px;
  }

  .article-sort-item-img {
    height: 100px;
    width: 140px;
    border-radius: 8px;
  }

  .article-sort-title {
    margin: 0 0.25rem;
  }
  .article-sort-title {
    margin: 0;
    padding: 0;
    border: none;
  }

  /*自适应设置*/
  /*bblist*/
@media screen and (max-width: 768px){
#bbTimeList {
    margin: 0.2rem auto 0;
}
}

@media screen and (max-width: 1400px){
#bbTimeList {
    max-width: calc(100% - 40px);
}
}

@media screen and (max-width: 768px) {
.recent-top-post-group {
  display: none;
}
}

@media screen and (max-width: 768px) {
#category-Bar {
  margin-top: 25px !important;
}
}

@media screen and (max-width: 768px) {
#category-bar.category-bar {
  width: 100%;
  overflow-y: none;
  background: #f7f9fe !important;
  border: none !important;
}
}

@media screen and (max-width: 768px) {
  #catalog-bar {
    overflow-y: hidden !important;
    margin: -1.2rem 0 !important;
  }
  }

@media screen and (max-width: 900px){
  #aside-content {
    width: 100%;
    display: none !important;
}
}

@media screen and (max-width: 900px){
#he-plugin-simple[data-v-41ba7e2c] {
  display: none !important;
}
}
/* copyright版权 */

.post-copyright__author {
  display: flex;
  align-items: center;
}

.post-copyright__original {
  background: var(--heo-fontcolor);
  color: var(--heo-card-bg);
  padding: 0.2rem 0.5rem;
  font-size: 0.7rem;
  border-radius: 8px;
  margin-right: 0.5rem;
  font-weight: bold;
  line-height: 1.5;
  white-space: nowrap;
}

.post-copyright__original:hover {
  background: var(--heo-main);
  color: var(--heo-white);
}

#post .post-copyright .post-copyright-title {
  padding-left: 0;
  color: var(--heo-fontcolor);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 1rem;
  font-weight: bold;
}

#post .post-copyright .post-copyright-title:hover {
  color: var(--heo-lighttext);
}

#post>div.post-copyright>div.post-copyright__type {
  line-height: 16px;
  display: flex;
  margin-top: 8px;
}

#post>div.post-copyright>div.post-copyright__type a {
  font-size: 14px;
  opacity: 0.6;
  line-height: 16px;
}

#post .post-copyright .post-copyright-info a {
  padding: 0;
  color: var(--heo-fontcolor);
  font-weight: bold;
}
#post .post-copyright .post-copyright-info a {
  text-decoration: none;
  word-break: break-word;
  padding: 0px 4px;
  border-radius: 4px;
}
#post-copyright-url a {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

#post .post-copyright .post-copyright-info {
  padding-left: 0;
  color: var(--heo-fontcolor);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

#post>div.post-copyright>div.post-copyright__notice {
  font-size: 14px;
  line-height: 1rem;
  margin: 1rem 0 0 0.2rem;
}

#post .post-copyright:after {
  position: absolute;
  right: 22px;
  top: -77px;
  content: '\f25e';
  font-size: 180px;
  font-family: 'Font Awesome 5 Brands';
  color: var(--heo-fontcolor);
  opacity: 0.4;
  filter: blur(7px);
}

#post .post-copyright .post-copyright__notice .post-copyright-info a {
  padding: 0 4px;
}

#post .post-copyright .post-copyright-info a {
  padding: 0;
  color: var(--heo-fontcolor);
  font-weight: bold;
}
#post .post-copyright .post-copyright-info a {
  text-decoration: none;
  word-break: break-word;
  padding: 0px 4px;
  border-radius: 4px;
}

#post .post-copyright {
  background: var(--heo-card-bg);
  padding: 1rem 1.3rem;
  overflow: hidden;
  border: var(--style-border);
  border-width: 1px;
  transition: 0.3s;
}

#post .post-copyright {
  position: relative;
  margin: 2rem 0px 0.5rem;
  transition: box-shadow 0.3s ease-in-out 0s;
  border-radius: 12px !important;
}

#post>div.post-copyright>div.post-copyright__type a:hover {
  opacity: 1;
  background: none;
}

#post .post-copyright .post-copyright-info a:hover {
  color: var(--heo-lighttext);
}

#post .post-copyright .post-copyright-title:hover {
  color: var(--heo-lighttext);
}

.share {
  margin-left: 0.5rem;
  color: var(--heo-fontcolor);
  opacity: 0.4;
  transition: 0.3s;
}

.share :hover {
  color: var(--heo-lighttext);
}

/* 文章标题风车 */
/* 文章页H1-H6图标样式效果 */
/* 控制风车转动速度 4s那里可以自己调节快慢 */
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  -webkit-animation: ccc 4s linear infinite;
  animation: ccc 4s linear infinite;
}
/* 控制风车转动方向 -1turn 为逆时针转动，1turn 为顺时针转动，相同数字部分记得统一修改 */
@-webkit-keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}
@keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}
/* 设置风车颜色 */
#content-inner.layout h1::before {
  color: #ef50a8;
  margin-left: -1.55rem;
  font-size: 1.3rem;
  margin-top: -0.23rem;
}
#content-inner.layout h2::before {
  color: #fb7061;
  margin-left: -1.35rem;
  font-size: 1.1rem;
  margin-top: -0.12rem;
}
#content-inner.layout h3::before {
  color: #ffbf00;
  margin-left: -1.22rem;
  font-size: 0.95rem;
  margin-top: -0.09rem;
}
#content-inner.layout h4::before {
  color: #a9e000;
  margin-left: -1.05rem;
  font-size: 0.8rem;
  margin-top: -0.09rem;
}
#content-inner.layout h5::before {
  color: #57c850;
  margin-left: -0.9rem;
  font-size: 0.7rem;
  margin-top: 0rem;
}
#content-inner.layout h6::before {
  color: #5ec1e0;
  margin-left: -0.9rem;
  font-size: 0.66rem;
  margin-top: 0rem;
}
/* s设置风车hover动效 6s那里可以自己调节快慢*/
#content-inner.layout h1:hover,
#content-inner.layout h2:hover,
#content-inner.layout h3:hover,
#content-inner.layout h4:hover,
#content-inner.layout h5:hover,
#content-inner.layout h6:hover {
  color: var(--theme-color);
}
#content-inner.layout h1:hover::before,
#content-inner.layout h2:hover::before,
#content-inner.layout h3:hover::before,
#content-inner.layout h4:hover::before,
#content-inner.layout h5:hover::before,
#content-inner.layout h6:hover::before {
  color: var(--theme-color);
  -webkit-animation: ccc 6s linear infinite;
  animation: ccc 6s linear infinite;
}

