#twikoo .el-textarea textarea {
    min-height: 120px!important;
    background-size: 90px;
}

.tk-input .el-textarea__inner {
    background-position: right bottom;
    background-repeat: no-repeat;
}

.el-textarea__inner {
    background-image: url(https://cos.19910407.com/source/%E7%9D%81%E7%9C%BC.png)!important;
}

.el-textarea__inner:focus {
    background-image: url(https://cos.19910407.com/source/%E9%97%AD%E7%9C%BC.png)!important;
}

/* 热评 * /
/* 热评 */
#comment-barrage {
    display: block;
    position: fixed;
    z-index: 1;
    font-size: 90%;
    bottom: 1rem;
    right: 2rem;
    width: 306px;
    height: 150px;
    overflow: hidden;
  }
  
  @media screen and (max-width: 900px) {
    #comment-barrage {
      display: none !important;
    }
  }
  
  #comment-barrage .comment-barrage-item {
    opacity: 0;
    width: 300px;
    height: fit-content;
    max-height: 144px;
    padding: 10px;
    position: absolute;
    margin: 0 3px;
    bottom: 5px;
    background: var(--card-bg);
    border: 1px solid #f0f0f0;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  
  #comment-barrage .swiper-slide-active .comment-barrage-item {
    opacity: 1;
  }
  
  #comment-barrage .comment-barrage-item:hover {
    border-color: #f7f7fa !important;
    box-shadow: var(--main-shadow) !important;
  }
  
  .barrage-info {
    overflow: hidden;
    font-size: 90%;
    height: 35px;
    border-bottom: 2px dashed #dcdcdc;
  }
  
  .barrage-info span {
    margin: 0 .2em;
    vertical-align: middle;
  }
  
  .barrage-title {
    font-weight: bold;
    padding: .3em 0.5em;
    background: var(--font-color);
    color: var(--card-bg);
    margin-right: .5em;
    border-radius: .5em;
    vertical-align: middle;
  }
  
  .barrage-title:hover {
    color: var(--second);
    background: var(--main);
  }
  
  .barrage-avatar {
    height: 2em;
    width: 2em;
    border-radius: 50%;
    vertical-align: middle;
  }
  
  .barrage-nick {
    font-weight: bold;
  }
  
  .barrage-close {
    position: absolute;
    top: 0;
    right: 10px;
  }
  
  .barrage-content {
    padding-top: 5px;
    max-height: 95px;
    height: fit-content;
    overflow-y: scroll;
    text-align: justify;
    word-break: break-all;
  }
  
  .barrage-content a {
    color: var(--font-color);
  }
  
  .barrage-content a:hover {
    color: #1677B3;
  }
  
  .barrage-content p {
    margin: 0;
  }
  
  .barrage-content img {
    width: 3em;
  }
